/conf/functional-test.conf
/conf/ehcache.properties
/conf/*secret*
/logs
/classes
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/data
/.cache-*
/bin
target
gulpopts.json
logback-access.xml
browserify-cache*.json
.DS_Store
*.p12
*.key
*.jks
*.keystore
*.swp
*ensime*
*.log
/.bsp

npm-debug.log
node_modules
/mocha.json

/.idea/*
!/.idea/misc.xml
!/.idea/codeStyles
!/.idea/codeStyleSettings.xml
!/.idea/fileTemplates
*.code-workspace
/test/worker.conf
